<app-header>
  <a header-title class="navbar-brand">EverShop</a>
  <form header-actions class="d-flex" role="search">
    <a class="btn" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="btn" routerLink="/auth" routerLinkActive="active">auth</a>
    <a class="btn" routerLink="/cart" routerLinkActive="active">Cart</a>
    <input
      class="form-control me-2"
      type="search"
      id="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-outline-success" type="button">Search</button>
  </form>
</app-header>
<div class="container">
  <router-outlet></router-outlet>
</div>
